*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e0dddd;
}
h1{
   color: azure;
   text-align: center;
   padding-bottom: 10%;
}
.calculator{
    background-color: rgb(43, 42, 42);
    padding: 20px;
    height: 350px;
    border-radius: 30px;
    width: 280px;
}
.display{
    width: 100%;
    border: 2px solid #746e6e;
    box-shadow: inset 0px 2px 5px;
    text-align: right;
    padding: 0;
    background-color: rgb(201, 200, 199);
    margin-bottom: 8px;
    outline: none;
}
.display p{
    padding: 10px;
    font-weight: 600;
    font-size: 25px;
}
.buttons{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 19px;
}
button{
    padding: 4px;
    border-radius: 5px;
    background-color: #666363;
    color: aliceblue;
    font-weight: 700;
    box-shadow: 0px 1px 1px #5b6380;
    transition: all 0.2s ease-in;
}
button:hover{
    box-shadow: 0px 2px 3px #ccc;
}
.clear{
    background-color: red;
}
.equal{
    background-color: green;
}
.operator{
    background-color: #4e8380;
}
.info{
    text-align: center;
    margin-bottom:20px;
}
.info ul{
    margin-top: 10px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

@media(max-width:768px){
    .info{
        width: 290px;
    }
}